Repository rupal16/Project-Management: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

gitignored css.map files
  .gitignore
Due: none

removed map.css file
  .gitignore
  src/routes/Profile/style.css
  src/routes/Profile/style.css.map
Due: prettier --write

removed isProfile
  src/routes/Dashboard/index.js
Due: eslint --fix

fixed lastName usage
  src/services/user-details.js
  src/services/user-service.js
Due: eslint --fix

modified code using payload
  src/actions/index.js
  src/reducers/user.reducer.js
  src/saga/editUser.saga.js
Due: eslint --fix

initial commit
  src/actions/index.js
  src/components/sideBar/index.js
  src/components/sideBar/style.scss
  src/reducers/project.reducer.js
  src/reducers/user.reducer.js
  src/routes/Profile/index.js
  src/routes/Projects/index.js
  src/routes/Projects/style.scss
  src/routes/index.js
  src/saga/createProject.saga.js
  src/saga/fetchProject.saga.js
  src/saga/index.js
  src/services/user.project.js
Due: eslint --fix, prettier --write

create, update, fetch, delete project services
  src/actions/index.js
  src/routes/Projects/index.js
  src/saga/createProject.saga.js
  src/services/user.project.js
Due: eslint --fix

listing, creating and deleting projects from list
  src/actions/index.js
  src/components/TrelloCard/index.js
  src/components/TrelloCard/style.scss
  src/components/TrelloList/index.js
  src/components/TrelloList/style.scss
  src/components/projectCard/index.js
  src/components/projectCard/style.scss
  src/components/showProject/index.js
  src/components/sideBar/index.js
  src/components/sideBar/style.scss
  src/reducers/index.js
  src/reducers/project.reducer.js
  src/reducers/user.reducer.js
  src/routes/Dashboard/index.js
  src/routes/Dashboard/style.scss
  src/routes/Profile/index.js
  src/routes/Projects/index.js
  src/routes/Projects/style.scss
  src/routes/index.js
  src/routes/openProject/index.js
  src/routes/openProject/style.scss
  src/routes/projectsList/index.js
  src/routes/projectsList/style.scss
  src/saga/createProject.saga.js
  src/saga/fetchAllProject.saga.js
  src/saga/fetchProjectById.saga.js
  src/saga/index.js
  src/saga/removeProject.saga.js
  src/services/user.project.js
Due: eslint --fix, prettier --write

navbar setup
  src/components/navBar/index.js
  src/components/navBar/style.scss
  src/routes/Dashboard/index.js
Due: eslint --fix, prettier --write

create project feature in navbar
  src/components/navBar/index.js
  src/routes/Projects/index.js
Due: eslint --fix

added dashboard and user-profile links to navbar
  src/components/navBar/index.js
  src/routes/Profile/index.js
Due: eslint --fix

completed navbar
  src/components/navBar/index.js
  src/components/navBar/style.scss
  src/components/projectCard/style.scss
  src/routes/Dashboard/index.js
  src/routes/Dashboard/style.scss
Due: eslint --fix, prettier --write

changed 'project title' to 'project-description'
  src/components/projectCard/index.js
Due: eslint --fix

changed 'project' object to 'Projects' in firebase
  src/components/Input/style.css
  src/components/TrelloCard/style.css
  src/components/TrelloList/style.css
  src/components/navBar/style.css
  src/components/projectCard/style.css
  src/components/sideBar/style.css
  src/routes/Dashboard/style.css
  src/routes/Profile/style.css
  src/routes/Projects/style.css
  src/routes/Signin/style.css
  src/routes/openProject/style.css
  src/routes/projectsList/style.css
  src/routes/registration/style.css
  src/services/user.project.js
Due: eslint --fix, prettier --write

passing the required object to updateProject() service
  src/components/Input/style.css
  src/components/TrelloList/style.css
  src/components/navBar/style.css
  src/components/projectCard/style.css
  src/components/sideBar/style.css
  src/routes/Dashboard/style.css
  src/routes/Profile/style.css
  src/routes/Projects/style.css
  src/routes/Signin/style.css
  src/routes/openProject/style.css
  src/routes/projectsList/style.css
  src/routes/registration/style.css
  src/services/user.project.js
Due: eslint --fix, prettier --write

added new route for each project
  src/components/navBar/index.js
  src/components/navBar/style.css
  src/components/navBar/style.scss
  src/components/projectCard/index.js
  src/components/projectCard/style.scss
  src/routes/registration/style.css
  src/services/user.project.js
Due: eslint --fix, prettier --write

added projects/create route
  src/actions/index.js
  src/components/navBar/index.js
  src/components/projectCard/index.js
  src/reducers/project.reducer.js
  src/routes/Dashboard/index.js
  src/routes/index.js
  src/routes/openProject/index.js
  src/routes/openProject/style.scss
  src/saga/fetchProject.saga.js
  src/saga/fetchProjectById.saga.js
  src/services/user.project.js
Due: eslint --fix, prettier --write

fixed navbar route change issue
  src/components/createProject/index.js
  src/components/createProject/style.scss
  src/components/navBar/index.js
  src/components/projectCard/index.js
  src/components/showProject/index.js
  src/routes/index.js
  src/routes/openProject/index.js
Due: eslint --fix, prettier --write

update project functionality for title and description
  src/actions/index.js
  src/reducers/project.reducer.js
  src/routes/openProject/index.js
  src/routes/openProject/style.scss
  src/saga/fetchProjectById.saga.js
  src/saga/index.js
  src/saga/updateProject.saga.js
  src/services/user.project.js
Due: eslint --fix, prettier --write

modified firebase structure of Projects
  src/components/navBar/index.js
  src/routes/Dashboard/index.js
  src/routes/openProject/index.js
  src/saga/fetchProjectById.saga.js
  src/services/user.project.js
Due: eslint --fix

removed console.log() statements
  src/actions/index.js
  src/components/navBar/index.js
  src/components/navBar/style.css
  src/components/projectCard/index.js
  src/reducers/project.reducer.js
  src/routes/Dashboard/index.js
  src/routes/Projects/index.js
  src/routes/openProject/index.js
  src/saga/createProject.saga.js
  src/saga/fetchAllProject.saga.js
  src/saga/fetchProjectById.saga.js
  src/saga/removeProject.saga.js
  src/saga/updateProject.saga.js
  src/services/user.project.js
Due: eslint --fix, prettier --write

task-board for projects
  package-lock.json
  package.json
  src/actions/index.js
  src/components/TrelloCard/index.js
  src/components/TrelloCard/style.css
  src/components/TrelloList/index.js
  src/components/TrelloList/style.scss
  src/components/actionButton/index.js
  src/components/actionButton/style.scss
  src/reducers/index.js
  src/reducers/lists.reducer.js
  src/routes/Dashboard/style.scss
  src/routes/openProject/index.js
  src/routes/openProject/style.scss
  src/routes/registration/style.css
Due: eslint --fix, prettier --write

installed react-beautiful-dnd package
  package-lock.json
  package.json
  src/reducers/lists.reducer.js
Due: eslint --fix, prettier --write

drag and drop for cards inside a list
  src/actions/index.js
  src/components/TrelloCard/index.js
  src/components/TrelloList/index.js
  src/reducers/lists.reducer.js
  src/routes/openProject/index.js
Due: eslint --fix

drag and drop between different lists
  src/reducers/lists.reducer.js
Due: eslint --fix

drag and drop of lists
  src/actions/index.js
  src/components/TrelloList/index.js
  src/reducers/lists.reducer.js
  src/routes/openProject/index.js
Due: eslint --fix

fixed background css
  src/components/TrelloCard/index.js
  src/components/TrelloList/index.js
  src/routes/openProject/style.scss
Due: eslint --fix, prettier --write

removed console.log() statements
  src/actions/index.js
  src/components/TrelloCard/index.js
  src/components/createProject/index.js
  src/components/createProject/style.scss
  src/components/navBar/index.js
  src/components/navBar/style.scss
  src/components/projectCard/index.js
  src/components/projectCard/style.scss
  src/reducers/user.reducer.js
  src/routes/Dashboard/index.js
  src/routes/Projects/index.js
  src/routes/index.js
  src/routes/openProject/index.js
  src/routes/openProject/style.scss
  src/routes/projectsList/index.js
  src/routes/projectsList/style.scss
  src/services/user.project.js
Due: eslint --fix, prettier --write

css for scrolling project cards
  src/actions/index.js
  src/components/CardModal/index.js
  src/components/CardModal/style.scss
  src/components/PrivateRoute.js
  src/components/TrelloCard/index.js
  src/components/TrelloCard/style.scss
  src/components/TrelloList/index.js
  src/components/actionButton/index.js
  src/components/projectCard/index.js
  src/components/projectCard/style.scss
  src/index.css
  src/logo.svg
  src/reducers/lists.reducer.js
  src/reducers/project.reducer.js
  src/routes/Dashboard/index.js
  src/routes/Dashboard/style.scss
  src/routes/index.js
  src/routes/openProject/index.js
  src/routes/openProject/style.scss
  src/saga/createCard.saga.js
  src/saga/createList.saga.js
  src/saga/index.js
  src/services/task.project.js
  src/services/user.project.js
Due: eslint --fix, prettier --write

modified dashboard's UI
  src/components/navBar/index.js
  src/components/projectCard/index.js
  src/components/projectCard/style.scss
  src/routes/Dashboard/index.js
  src/routes/Dashboard/style.scss
Due: eslint --fix, prettier --write

fixed remove and create project functionality
  src/actions/index.js
  src/components/navBar/index.js
  src/components/projectCard/index.js
  src/reducers/project.reducer.js
  src/routes/Dashboard/index.js
  src/routes/Signin/index.js
  src/routes/index.js
  src/routes/registration/index.js
  src/saga/createProject.saga.js
  src/saga/fetchProjectById.saga.js
  src/saga/removeProject.saga.js
  src/services/user.project.js
Due: eslint --fix

removed unnecessary comments and log statements
  src/actions/index.js
  src/components/CardModal/index.js
  src/components/PrivateRoute.js
  src/components/TrelloCard/index.js
  src/components/TrelloList/index.js
  src/components/actionButton/index.js
  src/components/navBar/index.js
  src/components/projectCard/index.js
  src/components/projectCard/style.scss
  src/reducers/lists.reducer.js
  src/reducers/project.reducer.js
  src/routes/Dashboard/index.js
  src/routes/Dashboard/style.scss
  src/routes/index.js
  src/routes/openProject/style.scss
  src/saga/createProject.saga.js
  src/saga/fetchProjectById.saga.js
  src/saga/removeProject.saga.js
  src/services/task.project.js
  src/services/user.project.js
Due: eslint --fix, prettier --write

add, remove, update features of list
  src/actions/index.js
  src/components/TrelloList/index.js
  src/components/TrelloList/style.scss
  src/components/actionButton/index.js
  src/components/editDetails/index.js
  src/components/projectCard/index.js
  src/reducers/lists.reducer.js
  src/reducers/project.reducer.js
  src/routes/openProject/index.js
  src/routes/openProject/style.scss
  src/saga/createList.saga.js
  src/saga/fetchAllLists.saga.js
  src/saga/index.js
  src/saga/updateListTitle.saga.js
  src/saga/updateProject.saga.js
  src/services/task.project.js
  src/services/user.project.js
Due: eslint --fix, prettier --write

modifed list services
  package-lock.json
  package.json
  src/actions/index.js
  src/components/TrelloCard/index.js
  src/components/TrelloList/index.js
  src/components/actionButton/index.js
  src/reducers/cards.reducer.js
  src/reducers/index.js
  src/reducers/lists.reducer.js
  src/routes/openProject/index.js
  src/saga/createCard.saga.js
  src/saga/createList.saga.js
  src/saga/fetchAllCards.saga.js
  src/saga/fetchAllLists.saga.js
  src/saga/index.js
  src/services/task.project.js
Due: eslint --fix, prettier --write

check create list saga
  src/actions/index.js
  src/components/actionButton/index.js
  src/saga/createList.saga.js
  src/services/task.project.js
Due: eslint --fix

update
  src/actions/index.js
  src/components/TrelloList/index.js
  src/routes/openProject/index.js
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: ((any of: *.css) or (any of: *.scss)) or (any of: *.json)
