Repository rupal16/Project-Management: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.js": "eslint --fix",
  "*.css": "prettier --write",
  "*.scss": "prettier --write"
}

Add fix script for CSS and SCSS files
  package.json
Due: none

Add lint-staged rule for JSON files
  .lintstagedrc
Due: none

confirm password bug fixed
  src/routes/registration/index.js
  src/services/send-otp.js
  src/utils/history.js
Due: eslint --fix

validation using onBlur
  package.json
  src/components/Input/index.js
  src/index.js
  src/routes/index.js
  src/routes/registration/index.js
  src/services/user-service.js
Due: eslint --fix

aligned submit btn and removed password from database
  src/routes/registration/index.js
  src/routes/registration/style.scss
  src/services/user-service.js
Due: eslint --fix, prettier --write

made user-registration the default route
  src/routes/index.js
Due: eslint --fix

bugs fixed and code refactored
  src/config/firebase.js
  src/routes/registration/index.js
  src/services/send-otp.js
  src/services/user-service.js
Due: eslint --fix

updated
  package-lock.json
  src/routes/registration/index.js
Due: eslint --fix

added 'added try-catch to services
  src/routes/registration/index.js
  src/services/user-service.js
Due: eslint --fix

optimized error handling code
  src/services/user-service.js
Due: eslint --fix

optimized saveUser()
  src/services/user-service.js
Due: eslint --fix

updated saveUser()
  src/services/user-service.js
Due: eslint --fix

made changes in services file
  src/routes/registration/index.js
  src/services/user-service.js
Due: eslint --fix

final updates
  package-lock.json
  src/routes/registration/index.js
  src/services/user-service.js
Due: eslint --fix

optimized isPhoneRegistered()
  src/routes/registration/index.js
  src/services/user-service.js
Due: eslint --fix

updated saveUser()
  src/routes/registration/index.js
  src/services/user-service.js
Due: eslint --fix

ui developed and form created
  src/routes/Signin/index.js
  src/routes/Signin/style.scss
  src/routes/index.js
Due: eslint --fix, prettier --write

recaptcha added
  src/routes/Signin/index.js
Due: eslint --fix

otp validation fixed
  src/routes/Signin/index.js
Due: eslint --fix

errorMsg removed
  src/routes/Signin/index.js
Due: eslint --fix

removed formError
  src/routes/Signin/index.js
Due: eslint --fix

extracted modal into a separate component
  src/components/ErrorModal/index.js
  src/routes/Signin/index.js
Due: eslint --fix

made spinner dynamic
  src/routes/Signin/index.js
Due: eslint --fix

fixed bg size
  src/routes/Signin/index.js
  src/routes/Signin/style.scss
Due: eslint --fix, prettier --write

fixed location of 'register here' link
  src/routes/Signin/index.js
  src/routes/Signin/style.scss
Due: eslint --fix, prettier --write

fixed size of submit button
  src/routes/Signin/style.scss
Due: prettier --write

removed unnecessary statements
  src/routes/Signin/index.js
Due: eslint --fix

fixed spinner issue
  src/routes/Signin/index.js
  src/routes/registration/index.js
  src/services/send-otp.js
Due: eslint --fix

Auth state based routing
  src/components/PrivateRoute.js
  src/routes/Signin/index.js
  src/routes/index.js
Due: eslint --fix

only reqd info sent to firebase
  src/routes/registration/index.js
  src/services/user-service.js
Due: eslint --fix

fixed isPhoneRegistered()
  src/components/PrivateRoute.js
  src/routes/Signin/index.js
  src/routes/index.js
  src/routes/registration/index.js
  src/services/user-service.js
Due: eslint --fix

optimized isPhoneRegistered()
  src/routes/Signin/index.js
  src/routes/index.js
  src/routes/registration/index.js
  src/services/user-service.js
Due: eslint --fix

optimized isPhoneRegistered() further
  src/routes/Signin/index.js
  src/routes/registration/index.js
  src/services/user-service.js
Due: eslint --fix

Add .vscode to .gitignore
  .gitignore
Due: none

fixed 'margin-left' bug and behaviour of signOut button
  src/components/PrivateRoute.js
  src/routes/Dashboard/index.js
  src/routes/Signin/index.js
  src/routes/index.js
  src/routes/registration/index.js
  src/services/user-service.js
Due: eslint --fix

removed console.log() statements
  src/components/PrivateRoute.js
  src/routes/Dashboard/index.js
  src/routes/index.js
  src/services/send-otp.js
  src/services/user-service.js
Due: eslint --fix

removed withRouter from Dashboard
  src/routes/Dashboard/index.js
Due: eslint --fix

UI and firebase integration
  package-lock.json
  package.json
  src/actions/index.js
  src/components/editDetails/index.js
  src/index.js
  src/reducers/index.js
  src/reducers/user.reducer.js
  src/routes/Dashboard/index.js
  src/routes/Profile/index.js
  src/routes/Profile/style.css
  src/routes/Profile/style.css.map
  src/routes/Profile/style.scss
  src/routes/index.js
  src/routes/registration/index.js
  src/saga/editUser.saga.js
  src/saga/fetchUser.saga.js
  src/saga/index.js
  src/services/send-otp.js
  src/services/user-details.js
  src/services/user-service.js
Due: eslint --fix, prettier --write

renamed EDIT_USER_DETAILS to EDIT_USER_DETAILS_REQUEST
  src/actions/index.js
  src/reducers/user.reducer.js
  src/routes/Profile/index.js
  src/saga/editUser.saga.js
  src/saga/fetchUser.saga.js
Due: eslint --fix

removed log statements and unnecessary comments
  src/actions/index.js
  src/components/editDetails/index.js
  src/reducers/user.reducer.js
  src/routes/Dashboard/index.js
  src/routes/Profile/index.js
  src/routes/Profile/style.scss
  src/routes/Signin/style.scss
  src/routes/registration/index.js
  src/saga/editUser.saga.js
  src/saga/fetchUser.saga.js
  src/saga/index.js
  src/services/user-details.js
  src/services/user-service.js
Due: eslint --fix, prettier --write
